runtime:
    db: mongo
    env: cloud
    data_limit: 10     # set it to a small number for testing (e.g.10), otherwise set a large number (e.g. 1e10)

database:
    mongo:
      cloud:
        user_name: 
        password: 
        cluster_name: 
        connection_string: 
        db_name: researchPaper
        collection_name: aiPaper
      local:  
        connection_string: 
        db_name: researchPaper
        collection_name: aiPaper
    mysql:
      local:
        db_name:
        collection_name:          # table
    file_system:
      local:
        connection_string: None
        db_name: researchPaper                 # parent directory
        collection_name: aiPaper         # sub directory

dataset:
  download:
    criteria:
          - category: cs    
            t: 60
            filters:
              categories: # from the source code (keywords: self.keys), it is essentially an OR filter
                - cs.ai
                - cs.cl
                - cs.cv
                - cs.gt
                - cs.ir
                - cs.lg
                - cs.ma
                - cs.ne
                - cs.na
                - cs.ro
                - cs.si
                - cs.sy
              created:
                - '2013-01-01'
                - '2019-12-31'
          - category: stat
            t: 60
            filters:
              categories:
                - stat.ml
                - stat.th            
              created:
                - '2013-01-01'
                - '2019-12-31'            
model:
  saved:
    local: aidoc2vec
    cloud: aidoc2vec
  hyper_para:
    vector_size: 256
    min_count: 15
    epochs: 30
    workers: 4
    # random_seed: 7

optimizer:

train:
  train: True

evaluate:

test:

